.trackerBlock {
	border-radius: 15px;
	box-sizing: border-box;
	background-color: #fff;
	padding: 20px;
	width: 100%;
	max-width: 450px;
	margin: 100px auto;
	opacity: 0.9;
	display: table;
}

.welcome {
	color: rgb(46, 40, 40);
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	margin: 0;
}

.totalMoney {
	color: rgb(46, 40, 40);
	font-size: 20px;
	margin: 0 0 10px;
	font-weight: bold;
}

.newTransaction {
	box-sizing: border-box;
	text-align: center;
	color: #425f9c;
	display: table;
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
	border: 0;
	padding: 20px;
	margin: 0 0 15px;
	font-size: 15px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.newTransaction input[type="text"],
.newTransaction select {
	width: 100%;
	background-color: #f7f7f7;
	color: #000;
	border: 1px solid #ddd;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	font-size: 15px;
}

.newTransaction input[type="text"]:focus,
.newTransaction select:focus {
	outline: none;
}

.inputGroup {
	display: flex;
	text-align-last: center;
	justify-content: center;
}

.addTransaction {
	width: 70%;
	background: #425f9c;
	border-radius: 14px;
	color: #fff;
	padding: 15px;
	margin: 10px 0 10px 0;
	font-size: 15px;
	cursor: pointer;
}

.addTransaction:hover {
	border: 3px dotted #ff7a59;
	color: #ff7a59;
	background: #fff;
}

.addTransaction:focus {
	outline: none;
}

.latestTransactions {
	margin: 10px 0 0 0;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.latestTransactions p {
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
}

ul li:last-child {
	border-bottom: 0;
	padding: 5px 0 0;
}

.exit {
	background-color: #fff;
	border: 0;
	width: 15%;
	border-radius: 3px;
	color: red;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.exit:hover {
	background-color: #f1f1f1;
}

.expense {
	color: red;
}

.deposit {
	color: green;
}
